html {
  scroll-padding-block: 60px;
  @include media-breakpoint-up(lg) {
    scroll-padding-block: 80px;
  }
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
.secondary-bg {
  background: #f9f9f9;
}
.section-padding {
  padding-block: 80px;
  @include media-breakpoint-down(lg) {
    padding-block: 40px;
  }
}
.featured-border-bottom {
  border-bottom: 1px solid #e9eaeb;
}
.section-title-wrapper {
  min-width: 100%;
  margin-bottom: 24px;
  @include media-breakpoint-up(sm) {
    min-width: 60%;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 48px;
  }
}
