.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  .collapse {
    display: block;
  }
  .show {
    left: 0;
  }
  .sticky {
    background: hsl(0, 0%, 100%);
    box-shadow: 0 1rem 3rem hsla(0, 0%, 0%, 0.18);
    .navbar-brand {
      color: hsl(0, 0%, 0%);
    }
    .nav-link {
      color: hsl(225, 2%, 45%);
      transition: all 0.2s;
      &:hover {
        color: $primary;
      }
      &.active-link {
        color: $primary;
        @include media-breakpoint-up(xl) {
          border-bottom: 2px solid $primary;
        }
      }
    }
    .custom-btn {
      color: $primary;
      border: 2px solid $primary;
      &:hover {
        background: $primary;
        color: hsl(0, 0%, 100%);
      }
    }
    .cta-icon {
      color: hsl(0, 0%, 100%);
      background: $primary;
    }
  }

  &__container {
    padding: 10px 25px;
    background: hsl(0, 0%, 100%);
    transition: all 0.2s linear;
    @include media-breakpoint-up(lg) {
      background: transparent;
    }
    border-radius: 5px;
    @include media-breakpoint-down(lg) {
      box-shadow: 0 1rem 3rem hsla(0, 0%, 0%, 0.18);
    }
  }
  &__logo {
    color: hsl(0, 0%, 0%);
    font-size: 32px;
    font-weight: bold;
    @include media-breakpoint-up(lg) {
      color: #fff;
    }
    &:hover {
      color: #fff;
    }
  }
  &__toggler {
    border: 0;
    &:focus {
      box-shadow: none;
    }
  }
  &__links-container {
    @include media-breakpoint-down(lg) {
      padding-block: 80px;
      top: 0;
      left: -250px;
      position: fixed;
      background: #eff7f6;
      width: 250px;
      text-align: center;
      height: 100%;
      transition: all 0.3s;
    }
    .navbar-nav {
      position: relative;
    }
    .icon-close {
      color: rgba(0, 0, 0, 0.55);
      position: absolute;
      top: 30px;
      font-weight: 600;
      right: 45px;
    }
  }

  &__nav-item {
    margin-inline: 15px;
  }
  &__nav-link {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    position: relative;
    &:hover {
      color: $primary;
    }
    &.active-link {
      color: $primary;
      @include media-breakpoint-up(xl) {
        border-bottom: 2px solid $primary;
      }
    }
    @include media-breakpoint-down(lg) {
      color: #717275;
    }
  }
  &__cta-icon {
    width: 47px;
    height: 47px;
    padding: 14px;
    color: hsl(0, 0%, 0%);
    background: hsl(0, 0%, 100%);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 12px;
  }
}
