.footer {
  &__container {
    padding-block: 50px;
    display: grid;
    place-items: center;
  }
  &__copyright-text {
    font-size: 14px;
    text-align: center;
    & > span:first-child {
      margin-bottom: 24px;
    }
    & > span:last-child {
      display: block;
      margin-bottom: 24px;
    }
    a {
      font-weight: bold;
      &:hover {
        color: $primary;
      }
    }
  }
}
